@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    box-sizing: border-box;
    font-family: Chivo, sans-serif;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

#root {
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
}

.App {
    width: 100%;
}

.app_header {
    position: sticky;
    top: 0;
    min-height: 60px;
    /* background: #004e55; */
    background: #006D77;
    display: flex;
    align-items: center;
}

.menu_icon {
    width: auto;
    height: 30px;
    color: white;
}

.curr_page {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.main_admin_container {
    display: flex;
}

.panel_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(122, 122, 122, 0.4);
    z-index: 98;
}

.admin_dashboard_home {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    z-index: 99;
}

.sidebarcontainer {
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.panel-nav-link {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.panel-link {
    height: 70px;
    padding-inline: 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: left !important;
    gap: 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.admin-panel-icons {
    color: #004e55 !important;
    font-size: 22px !important;
}

.panel_link_label {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: black !important;
}

.panel-logout-btn {
    margin-top: auto !important;
}


.page_container {
    max-width: 100vw;
    flex: 1;
    padding-inline: 40px;
}

h1.formheadingcontainer {
    font-size: 24px !important;
}

h2.formheadingcontainer {
    font-size: 20px !important;
}

.superAdminDashboard {
    padding-block: 20px;
    display: flex;
    justify-content: space-between;
}

.superAdminDashboard-child-1:nth-of-type(1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 40px;
}

.lableded-map-dashboard {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.label_map_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 200px;
}

.label_map_item>p {
    margin-block: 10px;
}

.standalone_page {
    width: 100vw;
    min-height: 100vh;
    padding-inline: 100px;
    padding-block: 24px;
}

.sub_page {
    padding-block: 24px;
}

.card_header {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

/*
Form page *****************************
*/

div.formheadingcontainer {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.formcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
}

.form_controls_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.form_controls_wrapper>button {
    min-width: 140px;
}

.subform {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label_and_input_wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

label {
    color: #004e55 !important;
}

.lablediv {
    width: fit-content;
}

.normal_input {
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 80%);
    outline: none;
    padding-block: 6px;
}

.normal_input:hover {
    border-color: hsl(0, 0%, 50%);
}

.radio_options_list {
    display: flex;
    align-items: center;
    gap: 28px;
}

input {
    font-size: 16px;
}

.input_elem {
    min-width: 220px;
}

.size_input_wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.price_inputs {
    display: flex;
    align-items: center;
    gap: 12px;
}

.number_input {
    min-width: 100px;
    width: 100px;
}

.textarea_wrapper {
    flex-direction: column;
    align-items: flex-start;
}

.textarea {
    flex: 1;
    width: 700px;
    height: 200px;
}

.radio_option_label {
    display: flex;
    gap: 8px;
}

.radio_option_label>input {
    width: fit-content;
    height: fit-content;
}

.input_validation_error_msg {
    font-size: 14px;
    color: rgb(176, 0, 0);
}

/* 
User management page ***************
 */

.formheadingcontainer {
    text-align: center;
}

.table-responsive {
    margin-block: 30px;
    border-radius: 4px;
    overflow: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.table {
    width: 100%;
    overflow:
        hidden;
    border-collapse: collapse;
    border-spacing: 14px;
    background-color: rgba(1, 109, 119, 0.03);
}

.tablehead {
    padding-block: 16px;
    padding-inline: 16px 20px;
    background-color: #004e55 !important;
    color: white;
    margin: 0;
    text-align: left;
}

.bodytext,
.actionColumn {
    padding-block: 10px;
    padding-inline: 16px 20px;
    vertical-align: top;
}

.actionColumn {
    display: flex;
    gap: 4px;
}

.table_controls_wrapper {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
}

.filter_input {
    padding: 8px;
    border: 1px solid darkgray;
    outline: none;
    border-radius: 6px;
    min-width: 220px;
    font-size: 16px;
}

.filter_submit {
    height: 100%;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid darkgray;
    border-radius: 6px;
}


.header_btns_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

.header_btns_list>button,
.api_btn {
    width: fit-content;
    padding: 10px 20px;
    /* background-color: #004e55 !important; */
    background-color: #172b4d !important;
    /* background-color: #101828 !important; */
    /* background-color: #086c74 !important; */
    /* background-color: #182c74 !important; */
}

.standalone_btn {
    margin-bottom: 30px;
}


/* modal */

.modal-content {
    background-color: #f5f6f8;
    overflow-y: auto;
}

.modal-content .modal-body .container {
    width: fit-content !important;
    background-color: white;
    margin-top: 0px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    text-align: center;
    gap: 10px;
}

.modal-content .modal-body .container h2.lbel {
    margin: 0px;
}

.custom-modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    width: 100%;
    max-width: 80%;
    max-height: 80%;
    background: white;
    position: relative;
    border-radius: 5px;
}

.modal_data {
    overflow-y: auto;
}

.close-button {
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 34px !important;
    height: 34px !important;
    font-size: 24px;
    padding: 6px !important;
    background-color: #172b4d !important;
}

.modal-body {
    padding: 20px;
}

.modal-body .btn {
    display: inline-block;
    margin: 0px;
    margin-right: 10px;
    background-color: #4168e6;
    white-space: nowrap;
}

.btn {
    background-color: #4168e6;
    width: 100%;
    padding: 8px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnclose {
    background-color: #4168e6;
    width: 100%;
    padding: 8px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.rowicon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.rowicon#rowicon-btn {
    gap: 32px;
    margin-bottom: 0px;
}

.rowicon>div {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #101828;
    flex: 1;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
}

.rowicon>div img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.rowicon button {
    flex: 1;
    font-size: x-large;
}


.row_action_btn {
    width: 34px;
    height: 34px;
}

.modal_controls {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.modal_btn {
    font-size: 14px;
    padding-inline: 32px;
    min-width: 100px;
}

.filter_btn {
    background-color: #172b4d !important;
    /* background-color: #101828 !important; */
    /* background-color: #086c74 !important; */
    /* background-color: #182c74 !important; */
}

.admin_route_button {
    width: 100%;
    max-width: 340px;
}

.admin_route_button>.css-ueukts-MuiButtonBase-root-MuiToggleButton-root {
    width: 100%;
    background-color: #004e55 !important;
    border-radius: 6px;
    color: white !important;
}

.edit_btn {
    background-color: #172b4d !important;
}

.approve_btn {
    background-color: hsl(146, 100%, 25%) !important;
}

.save_btn,
.yes_btn,
.cancel_btn {
    /* background-color: #172b4d !important; */
    background: #004e55 !important;
}

.reject_btn {
    background-color: #9a6c00 !important;
}

.delete_btn {
    background-color: hsl(9, 100%, 29%) !important;
}

.preview_btn {
    background-color: hsl(200, 100%, 27%) !important;
}

.filter_icon {
    font-size: 20px !important;
}

.upload_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.MuiSlider-thumb {
    color: black !important;
}

.MuiSlider-rail {
    color: rgb(37, 37, 37) !important;
}

.MuiPagination-ul li .Mui-selected {
    border-color: rgba(25, 118, 210, 0.5);
    background-color: rgba(25, 118, 210, 0.24);
    color: #1976d2;
}

.loader-class {
    height: 4rem !important;
    width: 4rem !important;
    color: #086c74 !important;
    z-index: 9999 !important;
}

.delete_media_list {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.delete_media {}

.warning_text {
    color: rgb(164, 44, 0) !important;
}

/* login */

.last-login-btn {
    margin-top: auto;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #ccc;
}

.last-login-btn svg {
    color: #ff0000;
}

.contain {
    position: relative;
    margin: 0 auto !important;
    margin-top: 100px !important;
    width: 500px;
    padding: 0px 40px;
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", sans-serif;
}

.contain::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 50%;
    background-color: #01654d !important;
}

.contain::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #006a53 !important;
}

.contain>h2 {
    font-family: "Chivo", sans-serif;
    position: relative;
    z-index: 9999;
    display: none;
}

.login_form {
    position: relative;
    z-index: 9999;
    padding-bottom: 75px;
    padding-top: 70px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login_form>.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

.login_form input {
    background-color: transparent !important;
    border-bottom: 2px solid #fff !important;
    outline: none !important;
    color: #fff !important;
    padding-left: 10px !important;
}

.login_form label {
    color: #fff !important;
    font-size: 18px;
    margin-bottom: 14px;
}

.contain button {
    background-color: #182c74 !important;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px;
}

.login_form button {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 50%;
    background-color: #ffb713 !important;
    transform: translateX(-50%);
    bottom: -50px;
    text-indent: -9999em;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login_form button:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent transparent #01654d transparent;
    transform: rotate(89deg);
    left: 36%;
    top: 32%;
    border-width: 0 20px 34px 20px;
}

.loading-class {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.css-1u9des2-indicatorSeparator {
    background: transparent !important;
}

/* home card */

.home-card {
    height: 410px !important;
    min-height: 400px !important;
    width: 300px;
    margin-block: 50px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    border-radius: 4px;
    padding-bottom: 10px;
    transition: transform .1s linear !important;
}

.home-card:hover {
    transform: scale(1.02);
}

.hc_action {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    height: 100% !important;
}

.home-card .thumbnail {
    width: 100%;
    height: 190px;
    margin: 0 !important;
}

.home_card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_card_content .title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.home_card_content .location {
    font-size: 14px;
    font-weight: 600;
}

.home_card_content .details_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding-block: 10px 0px;
    padding-inline: 0;
}

.home_card_content .list_item {
    display: flex;
    align-items: center;
    gap: 4px;
    color: darkslategray;
}

.home_card_content .homecardicon {
    width: 14px;
    height: auto;
}

.home-card .ratings_and_price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-inline: 10px;
    margin-top: auto;
}

.price_btn {
    padding: 10px 16px;
    background-color: #006D77 !important;
}

/* search card */

.search_card {
    display: flex !important;
}

.searchcardiv {
    display: flex !important;
    align-items: flex-start !important;
    flex-direction: row !important;
    /* min-height: 250px; */
}

.searchcardiv .thumbnail {
    width: 320px;
    height: 250px;
    display: inline-block;
}

.card_details {
    flex: 1;
    /* width: 100%; */
    padding: 0 !important;
}

.detailcardheadingdiv {
    width: 100%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.detailcardheading {
    font-weight: 600 !important;
    font-size: 20px !important;
    margin: 0 !important;
}

.card_details .contentdiv {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    padding-inline: 20px !important;
    padding-block: 10px;
}

.contentdiv_left {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 36px;
    padding-right: 16px;
    flex-wrap: wrap;
}

.detail_list_item {
    display: flex;
    align-items: center;
    flex-basis: 30%;
    gap: 6px;
}

.detailimages {
    width: 30px;
    height: auto;
    object-fit: contain;
}

.searchpagebuttondiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.searchpagebuttondiv .price_btn {
    margin-right: 0;
    margin-bottom: 10px;
}

.detailicondiv {
    display: flex;
    gap: 14px;
}

.sc_btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 35px !important;
    height: 35px !important;
    border-radius: 50% !important;
    background: transparent !important;
    border: 1px solid black;
    padding: 3px !important;
    margin: 0 !important;
    min-width: fit-content !important;
}

.hc_share_btn {
    border-color: transparent !important;
    position: absolute !important;
    right: 10px !important;
    top: 10px !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.hc_share_btn > .share_icon {
    width: 18px !important;
    height: 18px !important;
}

.share_icon,
.fav_icon {
    color: black !important;
}

/* property details card */

.detailcomponent {}

.detailed-title-component {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    padding-block: 10px;
}

.card_title {
    font-weight: 500;
    font-size: 24px;
    margin-block: 10px;
}

.detail-image-div {
    position: relative !important;
    height: 600px;
    width: 100%;
    max-width: 100%;
    display: flex;

}

.main-images {
    height: 600px;
    width: 75%;
}

.img360,
.img360_iframe {
    width: 100% !important;
    height: 600px !important;
}

.side-images {
    height: 600px;
    width: 25%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: auto;
    object-fit: contain;
}

.other-images {
    width: 100%;
    height: 120px;
    object-fit: contain;
}

.other_images_item {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.imgs_info {
    position: absolute;
    background-color: white;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border: 1px solid #006D77;
    white-space: nowrap;
}

.lowercontainer {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.detail-info-div {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.detail_title {
    font-size: 22px;
    margin-top: 0;
}

.detail-icon-div {
    flex: 1;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 10px;
}

.contacts-wrapper {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    gap: 10px !important;
}

.contacts-wrapper>button {
    flex: 1 !important;
    background-color: #006D77 !important;
    margin-right: 0 !important;
}


/* custom inputs */
input[type="radio"] {
    appearance: none;
    position: relative;
    width: 18px !important;
    height: 18px !important;
    border: 1px solid black !important;
    border-radius: 4px !important;
}

input[type="radio"]:checked::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    content: '\2713';
    font-size: 22px;
    color: rgb(209, 0, 0);
}

/* pagination */

.MuiTablePagination-actions {
    border-radius: 6px;
    color: white !important;
    display: flex !important;
    gap: 10px !important;
}

.MuiIconButton-root {
    background-color: #004e55 !important;
    border-radius: 6px !important;
    color: white !important;
}

.Mui-disabled {
    opacity: 50% !important;
    /* color: white !important; */
}

/* home page */

.homeHeader {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 97;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 60px;
}

.menu_comp {
    position: absolute;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu_btn {
    height: 100%;
    padding-inline: 25px 30px !important;
    border-radius: 0 !important;
}

/* .menu_comp:focus-within > .menu_btn {
    background-color: rgb(30, 30, 30) !important;
}

.menu_btn:focus > * {
    color: white !important;
} */

.menu_btn>svg {
    color: black !important;
}

.menu_btn_label {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-left: 8px;
    font-family: Ubuntu, sans-serif;
}

.page_header_comp>.logodiv>.headerlink {
    display: flex !important;
    align-items: center !important;
    gap: 8px;
    color: #006d77 !important;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
}

.page_header_comp>.logodiv>.headerlink>img {
    height: 44px !important;
    width: auto !important;
    object-fit: contain;
}

.home-page-banner {
    height: 420px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000050 !important;
    background-blend-mode: overlay !important;
}

.banner_text {
    text-align: center;
    color: white;
    font-weight: 800;
    font-family: Chivo, sans-serif;
    font-size: 56px;
}

.banner_subtext {
    color: #ffc868;
}

.homeselect,
.actioncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-block: 40px 20px;
    padding-inline: 16px;
}

.homeselect .btn {
    min-width: 100px !important;
    min-height: 42px;
    font-size: 16px !important;
}

.slider_comp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-inline: 20px;
    width: 400px;
}

.slider_range {
    width: 60px;
}

.slider_min,
.slider_max {
    white-space: nowrap;
    font-size: 20px !important;
    font-weight: bold !important;
}

.slider {
    width: 200px !important;
}

.home-screen-card-section-heading {
    text-align: center;
    color: #101828 !important;
    font-family: Chivo, sans-serif;
    font-weight: 700;
    font-size: 42px;
}

.default-home-cards {
    display: flex;
    justify-content: center;
    width: 100%;
}

.default-home-cards .searchdiv {
    width: 100% !important;
    max-width: 1600px !important;
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 30px;
}

.home-screen-card-section-bottom {
    text-align: center;
    color: #101828 !important;
    font-family: Chivo, sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding-inline: 40px;
    padding-top: 20px;
}

.default-home-footer-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerdiv {
    width: 96%;
}

.footerdiv hr:nth-of-type(2) {
    margin-top: 30px;
}

.footerlowerdiv {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 30;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.footer-social-icon {
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer_social_btn {
    border-radius: 50%;
    background-color: #006D77 !important;
    width: 36px;
    height: 36px;
}


/* SEARCH RESULT PAGE */

.match-found-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.filter-button-div {
    width: 100%;
    display: flex;
    background: rgb(244 244 244);
    border-block: 1px solid rgb(204, 204, 204);
}

.filter-button-div-overflowed {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 16px;
}

.filter-button-div-overflowed .component_wrapper {
    flex: 1 0;
}

.filter-button-div-overflowed .toogle-filter,
.filter-button-div-overflowed .filterbutton,
.filter-button-div-overflowed .filterChannel,
.filter-button-div-overflowed>.component_wrapper,
.filters_bar .select_slider_wrapper {
    width: fit-content !important;
    max-width: fit-content !important;
}

/* .filter-button-div-overflowed button,
.filter-button-div-overflowed .custom_select_curr {
    color: white !important;
    background-color: #006D77 !important;
} */

.filter_reset_btn {
    background-color: white !important;
    color: black !important;
    font-weight: 500 !important;
    font-size: 16px !important;
}


.result-searchdiv {
    display: flex;
    justify-content: center;
    background: rgb(244 244 244);
}

.result-searchdiv .searchdiv {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 20px;
    padding-top: 50px;
}

.pagination_container .search_pagination {
    margin-left: auto;
    margin-bottom: 20px;
}

.MuiPagination-ul .MuiPaginationItem-root {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.23)
}

.MuiPaginationItem-ellipsis {
    border: none !important;
}

/* scroll to top */

.scroll-to-top {
    width: 42px;
    height: 42px;
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: #006D77 !important;
}

.scroll-to-top:hover {
    animation: bounce .3s ease-in-out;
}

@keyframes bounce {
    to {}
}

/* property details */

.property_images_container {
    min-height: 600px;
    padding-inline: 20px;
}

.property_details_divider {
    width: 80%;
    margin-top: 100px;
    margin-inline: auto;
}

.similar_options_list {
    width: 100%;
    overflow: auto !important;
}

.similar_options_list>.similar_options_list {
    width: 100%;
    display: flex !important;
    align-items: center !important;
}

.detail_price_btn {
    font-size: 20px !important;
    margin-top: 20px !important;
    padding: 10px 26px !important;
    background-color: #006D77 !important;
}

.explore_similar_options_heading {
    text-align: center;
    padding-inline: 40px;
    font-weight: 500;
    margin-top: 40px;
}


/* custom select */

.custom_select_container,
.toogle-filter,
.select_slider_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.select-city-button .custom_select_curr {
    background-color: #006D77 !important;
    color: white !important;
}

.filters_component {
    /* height: 60px; */
    /* overflow-y: visible !important; */
}

.filters_btn_div {
    max-width: 100%;
    padding-block: 20px;
}

.filters_bar {
    /* height: 60px; */
    display: flex;
    justify-content: center;
    position: relative;
    gap: 20px;
    /* overflow-x: auto; */
    /* overflow-y: visible !important; */
}

.drop_select_wrapper {
    position: relative;
}

.custom_select_curr,
.MuiToggleButton-root,
.slider_btn,
.select_btn {
    border: none !important;
    font-size: 16px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 8px 16px !important;
    min-width: 120px !important;
    border-radius: 6px;
    background-color: white !important;
    color: black !important;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.active_filter {
    background-color: #006D77 !important;
    color: white !important;
}

.dd_selection_done_btn {
    font-weight: 600;
    background-color: rgb(199, 199, 199) !important;
    /* color: white; */
}

.select_label {
    white-space: nowrap;
}

.dd_popup {
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
    z-index: 99999999 !important;
    padding-bottom: 6px;
    max-height: 300px;
    overflow: auto;
    min-width: 160px;
    width: fit-content !important;
    max-width: 320px;
}

.dd_search_box {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    /* border-radius: 4px; */
    padding-inline: 4px;
    padding-block: 4px;
    background-color: white;
}

.search_icon {
    color: #006D77;
}

.dd_search_box .dd_search_input {
    font-size: 14px;
    padding: 6px;
    border: none;
    outline: none;
}

.dd_search_box:focus-within {
    border-color: #006D77 !important;
}

.dd_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    cursor: pointer;
    padding-inline: 10px;
}

.dd_item_check {
    color: #006D77;
}

.dd_item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.MuiToggleButton-root,
.slider_btn {
    background-color: white !important;
    color: black !important;
    padding-block: 6px !important;
}

.Mui-selected {
    background-color: #006D77 !important;
    color: white !important;
}

.custom_select_popup,
.select_slider_popup_container {
    position: absolute;
    top: 100% !important;
    left: 0 !important;
    min-width: 100% !important;
    height: fit-content;
    background-color: white !important;
    padding-block: 8px;
    border-radius: 6px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.select_slider_inputs {
    padding: 8px 12px;
    display: flex;
    gap: 10px;
    /* flex-wrap: wrap; */
}

.select_slider_inputs .MuiInputBase-formControl {
    width: fit-content !important;
}

.select_slider_inputs .MuiInputBase-input {
    padding: 10px 16px !important;
}

.select_slider_labels {
    display: flex;
    gap: 16px;
    padding-inline: 16px;
}

.select_slider_labels .slider_value {
    font-size: 20px;
    font-weight: 600;
}

.custom_select_popup_item {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    cursor: pointer !important;
}

.custom_select_popup_item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.home-search-button,
.sr-search-button {
    height: 40px;
    color: white;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    min-width: 120px;
    border-radius: 6px;
    background-color: #006D77 !important;
    color: white;
}

.loader-class {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.load_more_btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    padding-block: 40px 20px;
}

.dcc_load_more_btn {
    width: fit-content;
    max-width: fit-content;
    font-weight: 600;

    background-color: #006D77 !important;
    margin-inline: auto !important;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: white;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

/* *************************
Mobile
**************************** */

@media screen and (max-width: 768px) {
    .app_header {
        min-height: 54px;
    }

    .menu_icon {
        height: 24px;
    }

    .admin_dashboard_home {
        width: 80%;
    }

    .page_container {
        padding-inline: 20px;
    }

    .superAdminDashboard {
        display: flex;
        gap: 20px;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .superAdminDashboard-child-1:nth-of-type(1) {
        grid-template-columns: 1fr;
        gap: 20px 40px;
    }

    .label_map_item {
        gap: 20px;
        max-width: 100%;
    }

    .standalone_page {
        padding-inline: 20px;
        padding-block: 20px;
    }

    /* form page */

    .formcontainer {
        gap: 26px;
    }

    .subform {
        width: 100%;
        align-items: flex-start;
    }

    .lbel {
        display: inline-block;
        text-align: start;
    }

    .label_and_input_wrapper {
        width: 100%;
        justify-content: space-between;
    }

    .input_elem {
        min-width: 170px;
    }

    .number_input {
        min-width: 100px;
        width: 100px;
    }

    .textarea {
        width: 320px;
        height: 150px;
    }

    .file_input {
        width: 170px;
    }

    /* User management page */

    .filter_input {
        padding: 8px;
        min-width: 140px;
    }

    .filter_submit {
        padding: 8px 16px;
    }

    .row_action_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
    }

    .close-button {
        width: 30px !important;
        height: 30px !important;
        font-size: 22px;
    }


    .modal-content {
        max-width: 90%;
        max-height: 90%;
    }

    /* login */
    .contain {
        width: 320px;
    }

    input[type="radio"]:checked::after {
        font-size: 16px;
    }

    /* search card  */

    .searchcardiv {
        flex-direction: column !important;
    }

    .searchpagebuttondiv {
        align-items: flex-start;
    }

    .detailcardheadingdiv {
        border-radius: 0 !important;
    }

    /* details card */

    .detailed-title-component {
        justify-content: flex-start !important;
        align-items: flex-start;
        flex-direction: column !important;
        gap: 0px !important;
    }

    .card_title {
        font-size: 22px;
    }

    .detail-image-div {
        height: fit-content;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .main-images {
        height: 100%;
        width: 100%;
    }

    .side-images {
        height: 100px !important;
        width: 100% !important;
        flex-direction: row;
        overflow-x: auto;
    }

    .other-images {
        width: 120px;
        height: 90px;
    }

    .other_images_item {
        width: 120px;
        height: 90px;
        object-fit: cover;
    }

    .lowercontainer {
        margin-top: 50px;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }

    .img360,
    .img360_iframe {
        width: 100% !important;
        height: 300px !important;
    }

    .contacts-wrapper>button {
        font-size: 20px !important;
    }

    .detail_price_btn {
        padding: 6px 20px !important;
    }


    /* HOME PAGE */

    .menu_btn {
        padding-inline: 10px !important;
    }

    .menu_btn_label {
        display: none !important;
    }

    .page_header_comp>.logodiv>.headerlink {
        font-size: 22px;
    }

    .page_header_comp>.logodiv>.headerlink>img {
        height: 40px !important;
    }

    .banner_text {
        font-size: 40px;
    }

    .home-screen-card-section-heading {
        font-size: 28px;
    }

    .homeselect,
    .actioncontainer {
        justify-content: space-between !important;
    }

    .select-range {
        width: 100%;
    }

    .slider_comp {
        width: 100%;
        justify-content: space-between;
        gap: 16px;
        padding-inline: 4px;
    }

    .select-range {
        order: -1;
        margin-bottom: 10px;
    }

    .slider_range {
        width: fit-content;
    }

    .slider_max,
    .slider_min {
        font-size: 18px !important;
    }

    .slider_min {
        margin-left: auto;
    }

    .slider_max {
        margin-right: auto;
    }

    .slider {
        width: 100% !important;
    }

    .default-home-cards .searchdiv {
        gap: 0 !important;
    }

    .home-screen-card-section-bottom {
        font-size: 26px;
        padding-inline: 16px;
        padding-top: 20px;
    }

    .footerdiv {
        width: 90%;
    }


    /* SEARCH RESULT PAGE */

    .match-found-heading {
        font-size: 22px;
    }


    /* property details */

    .property_details_divider {
        width: 90%;
        margin-top: 40px;
    }

    .explore_similar_options_heading {
        font-size: 26px;
        padding-inline: 20px;
        margin-top: 30px;
    }

    .custom_select_curr {
        font-size: 16px !important;
        padding: 5px 10px !important;
        min-width: 90px !important;
    }

    .MuiToggleButton-root,
    .slider_btn {
        font-size: 16px !important;
        padding: 4px 8px !important;
    }

    /* custom select */

    .custom_select_popup_item {
        padding: 6px 12px;
    }

    .home-search-button,
    .sr-search-button {
        height: 36px;
        padding: 6px 12px;
    }

    /* custom select */

    .filter-button-div-overflowed {
        position: relative !important;
    }

    .custom_select_container,
    .toogle-filter,
    .select_slider_wrapper {
        position: static !important;
    }

    .card_details .contentdiv {
        flex-direction: column;
    }

    .contentdiv_left {
        gap: 20px;
    }

    .searchpagebuttondiv {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .searchpagebuttondiv .price_btn {
        margin-bottom: 0;
    }

    .pagination_container .search_pagination {
        margin-inline: auto;
        margin-block: 20px;
    }

    .select-city-button {
        position: relative !important;
    }

}